<% @title = "Dashboard" %>

<ul id="documents">
  <li class="template">
    <h2 class="document-name"></h2>
    <span class="rest">
    <h3 class="total-downloads"></h3> total,
    <h4 class="downloads-today"></h4> today,
    <h4 class="downloads-week"></h4> this week,
    <h4 class="users-count"></h4> people.
    </span>
  </li>
</ul>

<div id="charts">
  <canvas id="downloads-by-document" width="400" height="400"></canvas>
</div>