<% @title = "Dashboard" %>
<canvas id="downloads-by-document" width="400" height="400"></canvas>

<ul id="documents">
  <li class="template">
    <span class="document-name"></span> received <span class="total-downloads"></span> downloads in total.
    <span class="downloads-today"></span> of those downloads occurred today, and <span class="downloads-week"></span> in total over the past week.
  </li>
</ul>